.app {
  background-color: var(--color-grey-50);
  padding: 4rem;
  height: 100vh;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  @media only screen and (max-width: $bp-small) {
    padding: 2rem;
    gap: 1.8rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 1rem;
    gap: 1.4rem;
  }
}

.page {
  display: none;
  gap: 2.4rem;

  @media only screen and (max-width: $bp-small) {
    gap: 1.8rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    gap: 1.4rem;
  }

  &--active {
    display: grid;
  }
}
